<script type="text/javascript"> 
    //Call the method on pageload
    $(window).load(function(){
      //Disply the modal popup
        $('#myModal').modal('show');
    });
  </script>

 <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel">Question of the Day!</h4>
<h3 class="modal-question" id="myModalLabel">Why does Victor Cruz salsa in the field?</h3>
                                        </div>
                                        <div class="modal-body">
                                            <form action="">
  <input type="radio" name="choice" value="fun"> Salsa is a way for him to have fun!<br>
  <input type="radio" name="choice" value="salsatomato"> He loves salsa (the dance and the pico de gallo)!<br>
  <input type="radio" name="choice" value="know"> He wants to "shake it off" on the field!
</form>
                                        </div>
                                        <div class="modal-footer">
                                            
                                        
 <div class="modal-body">
       <button type="button" class="btn btn-info btn-lg" data-toggle="modal"      data-target="#test1">Submit</button>
       
      </div>      

</div>

<div id="test1" class="modal fade" role="dialog" style="z-index: 1600;">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      
      <div class="modal-body">
       
        That's Correct! He does like to "shake it off"!
       
      </div>      
    </div>
  </div>
</div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
</div>