<h3 align="right" style="color:blue">{{ name }}</h3>
<div align="right">
 <form class="form-inline" action="/logout" name="logout" method="post">
  <button id="logout-button" type="submit" class="btn">Logout</button>
 </form>
</div>

<h3><center>Why Learn About Body Systems?</center></h3>
<center><video width="400" controls>
  <source src="calories.mp4" type="video/mp4">
 </video></center>

<p>
<center>Human anatomy is the study of the systems of the body which is made up of cells, tissues, and organs. Human anatomy is important to study to help explain how organs and other structures of the body work. There are eight systems in the human body. Each system relies on the other to keep the body functioning.</center></p>

<img src="http://www.clker.com/cliparts/U/5/5/L/f/k/next-button-hi.png" alt="next" align="right" style="width:85px;height:30px;margin-right:20px;">


<a href="/dashboard"><img src="https://s-media-cache-ak0.pinimg.com/564x/84/de/c6/84dec656f2c1e88a684fc49e673d6217.jpg" alt="home" align="left" style="width:50px;height:50px;margin-left:20px;"></a>
