<h1> Welcome, {{ name }} to your Dashboard </h1>

 <form class="form-inline" action="/logout" name="logout" method="post">
  <button id="logout-button" type="submit" class="btn">LOG OUT</button>
 </form>