<center>
	<h2>Challenges</h2>
</center>

<div class="container" style="border-top: solid; padding-left: 20%">
	<p style="color:blue" align="left">John -> Ryan</p>
	<h5>I challenge you to run 2 miles today!</h5>
</div>

<div id="new-post">
	<input type="text" id="target" placeholder="Friend's Email">
	<input type="text" id="message" placeholder="Your message here.">
	<button>Submit</button>
	</div>
</div>