<body>
	<div class="login">
	        <div class="row text-center">
            <h4>Welcome to {{greeting}}</h4>
            <br>
            <form class="form-inline" action="/logout" name="logout" method="post">
                <a href="/login">
                    <button id="login-button" type="button" class="btn btn-primary">LOG IN</button>
                </a>
                <button id="logout-button" type="submit" class="btn btn-danger">LOG OUT</button>
                <a href="/register">
                    <p id="register-button" type="button">REGISTER</p>
                </a>
            </form>
        </div>
	</div>
</body>
