<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Victor Cruz Foundation</title>
	<link rel="stylesheet" href="/stylesheets/bootstrap-theme.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="/js/bootstrap.js"></script>
</head>
<nav>
<div id="header" class="container-fluid">
  {{#if name}}
  <h3 id="welcome">Welcome, {{ name }}</h3>
	  <a href="/dashboard" id="dashbutton"> VIEW DASHBOARD</a>
	  <form class="form-inline" action="/logout" name="logout" method="post" style="display: inline; background-color: rgb(188,33,50);">
	    <button id="logout-button" type="submit" class="btn">Logout</button>
	  </form>
  {{/if}}
</div>
</nav>
<body>
	{{{body}}}
</body>

</html>